/*CSS for the cool kids*/
html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-weight: normal;
  font-family: "Space Mono", monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.title {
  text-align: center;
}

.add {
  color: lightcoral;
  border-radius: 5%;
  border-color: black;
  background-color: white;
  text-align: center;
}

.container {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.color-display-whole{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.color-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-self: auto;
  max-width: 170px;
  height: 15px;
  border: solid black 5px;
  border-radius: 30px;
  padding: 20px;
  margin: 1rem;
}

.color-display-individual{
  display: flex;
  flex-direction: row;
  align-self: auto;
  max-width: 170px;
}

.hr {
  padding: 0.1% 0.1% 0.1% 0.1%;
  background-color: lightcoral;
}
.pallete {
  margin: 0% 0% 2% 0%;
}
