/*CSS for the cool kids*/
html {
  box-sizing: border-box;
  margin: 10px;
  height: 100%;
  font-weight: normal;
  font-family: "Space Mono", monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.title {
  font-size: 38px;
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: 3px 3px #000;
  margin: 0;
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.button-create {
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px;
  width: 125px;
  height: 45px;
  border: 1px solid #000000;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
  color: black;
  background-color: #fff;
  box-shadow: 3px 3px #000;
}

.button-create:hover {
  background-color: black;
  color: #fff;
}
.button-create:active {
  border-color: #fff;
}

.pallete {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 2000px;
  align-items: center;
}
.color-column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: inherit;
  min-width: 0.2%;
  min-height: 600px;
  border: solid black 1px;
}
.color-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* max-width: 175px; */
  min-width: 0.2%;
  max-width: 8%;
  border: solid black 1px;
  border-radius: 30px;
  padding: 12px;
  margin: 0.4rem;
}

.color {
  width: auto;
  height: 130px;
}

.delete-button {
  height: 31px;
  /* border-radius: 0% 0% 35% 35%; */
  color: #0099cc;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #fff;
  color: black;
  border: black;
}

.delete-button:hover {
  background-color: black;
  color: #fff;
  transform: scale(1.1);
  -webkit-transition: transform 0.3s ease-out;
}

button:focus {
  /* magical */
  outline: 0;
}
